*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #111014;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    background-color: #ffffff0e;
    color: #e6e6e6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    width: 500px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 10px;
}
h1{
    text-align: left;
    margin-bottom: 30px;
    
}
input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #ffffff07;
    color: #e6e6e6;
    margin-bottom: 10px;
    text-align: left;
}
button{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(to right, #fa7c14, #e02222);
    color: #e6e6e6;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
button:hover{
    background: linear-gradient(to right, #e02222, #e02222);
    color: #e6e6e6;
    cursor: pointer;
    transition: 0.5s;
}
.p-info{
    font-size: 12px;
    color: #747474;
    margin-bottom: 10px;
    margin-top: -15px;
}
#resultado {
    font-size: 18px;
    font-weight: bold;
    color: #fa7c14;
    text-align: left;
    transition: color 0.3s;
    word-break: break-word;
}
hr {
    display: block;
    width: 100%;
    border: none;
    border-top: 1px solid #ffffff10;
    margin: 20px 0;
    height: 1px;
    background: none;
}
@media (max-width: 600px) {
    .container {
        width: 100vw;
        max-width: 100vw;
        min-height: 100vh;
        margin: 0;
        padding: 20px 10px;
        box-sizing: border-box;
        border-radius: 0;
    }
}
.modalResultado {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 1000;
}

